<div class="overlay" id="overlayWidget">
    <div class="card">
        <div class="card-content">
            <h2>GC9KKYM - Hack me if U can</h2>
            <p>
                Willkommen beim Online-Rätsel des Geocaches GC9KKYM - Hack me if U can.<br/>
                Dies ist ein kostenlosen Spiel!<br/>
                Ziel dieses Rätsels ist es, Koordinaten für den Outdoor-Teil des Geocaches er finden. Dazu müsst ihr versuchen, diese Website "zu hacken". 
            </p>
        </div>

        <div class="card-buttons">
            <button class="button button-orange " disabled onclick="removeWidget()">Weiter</button>
            <button class="button button-orange " onclick="alert( 'Aufgeben ist keine Option! 😉') ">Aufgeben</button>
        </div>
    </div>
</div>